/* font init */
body{
    font-family: 'Caveat', cursive;
    font-size: 32px;
}
.on{
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 62px;
}
/* colors */
#ont{
    margin-top: 50px;
    margin-bottom: 30px;
    
}
#ons{
    color: #4C2C69;
}

#slide{
    color: #CD8B76;
}
#zeel{
    margin-left: 100px;
}
#con{
    color: #60992D;
}
#conc{
    color: #3C6E71;
}
/* btn-colors */
.btn-primary{
    background-color: #F76C5E;
    border-color: #F76C5E;
}
.btn-primary:hover{
    background-color: #48A9A6;
    border-color: #48A9A6;
}

#contain .btn-primary{
    background-color: #2A9F61;
    border-color: #2A9F61;
}
/* fonts for mobile devices */
@media only screen and (max-width: 767px) {
    .on{
        font-size: 40px;
    }
    #con{
        font-size: 20px;
    }
    #conc{
        font-size: 18px;
    }
    #zeel{
        margin-left: 25px;
    }
  }